{% extends "layout/base.html" %}

{% block content -%}
    <h1 style="margin-bottom: 50px;">신규 연락처 만들기</h1>
    <form action="" method="post">
        <table class="table table-bordered">
            <tr>
                <th>이름</th>
                <td><input type="text" name="name" class="form-control" value="{{ contact.name }}"/></td>
            </tr>
            <tr>
                <th>전화번호</th>
                <td><input type="text" name="phone" class="form-control"/></td>
            </tr>
            <tr>
                <th>이메일주소</th>
                <td><input type="text" name="email" class="form-control"/></td>
            </tr>
            <tr>
                <th>성별</th>
                <td>
                    <input type="radio" name="female" value="false" checked="checked"/> 남성
                    <input type="radio" name="female" value="true"/> 여성
                </td>
            </tr>
            <tr>
                <th>설명</th>
                <td><input type="text" name="description" class="form-control"/></td>
            </tr>
        </table>
        <button class="btn btn-primary">작성하기</button>
    </form>

{% endblock %}